.home-body{
    background-image: url("/IMG/HomePageBack.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;   
    background-attachment: fixed; 
    margin:0 auto;
    overflow-x: hidden;
    place-self: center;
}

.mario-island{
    display: flex;
    justify-content: center;
    margin-left:200px;
    margin-top:20px;
}

.activity-category{
    margin-top:15px;
    display:flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap:120px;
}

.category-img{
    display:flex;
}

.activity-list{
    width:500px;
    height:430px;
    display:grid;
    grid-template-areas: 
    "card card "
    "card card ";
    align-items: center;
    justify-items: center;
    justify-self: center; 
}

.activity-card{
    height:190px;
    width:200px;
    background-image: url("/IMG/HomePage/bricktile.png");
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    align-items: center;
    justify-content:center;
    display:flex;
    flex-direction: column;
}

.activity-img{
    display:flex;
    align-items: center;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}

.activity-card-btn{
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    border-style: none;
    margin-top:5px;
    width:150px;
    cursor: pointer;
    background-color: red;
    color:white;
    font-family:'Press Start 2P', cursive, system-ui;
}

#activity-btn4{
    background-color: green;
}

#activity-btn2{
    background-color: rgb(0, 140, 255);
}

.weather-container{
    margin:0;
    display:flex;
    flex-direction: column;
    width:85%;
    height:48%;
    border-radius:10px;
    -webkit-border-radius:10px;
    -moz-border-radius:10px;
    -ms-border-radius:10px;
    -o-border-radius:10px;
    background-color:darkorange;
    font-family: 'Press Start 2P', cursive, system-ui;
    color:darkslategrey;
}

.weather{
    display:flex;
    margin-left:160px;
    width:300px;
    border-radius: 10px;
    height:200px;
    place-self: center;
    justify-content: center;
    align-items: center;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    background-image: url("/IMG/HomePage/woodenboard.png");
    background-repeat: no-repeat;
    background-position: center;
}

.weather-info{
    margin-left:10px;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.weather-container h2{
    padding-top:5px;
    padding-left:10px;
    margin:0;
    font-size: 12px;
}


.weather-container p{
    font-size: 10px;
}